<% if local.errors.any? %>
        <h4>The form contains the following <%=  pluralize(local.errors.count,"error")%></h4>
        <ul>
        <%local.errors.full_messages.each do |m| %>
        <li> <%= m %></li>
        <%end  %>
        </ul>
        <%puts "Hello! error! #{local.inspect}"%>
<%end %>