<% if @post.errors.any? %>
        <h4>The form contains the following <%=  pluralize(@post.errors.count,"error")%></h4>
        <ul>
        <%@post.errors.full_messages.each do |m| %>
        <li> <%= m %></li>
        <%end  %>
        </ul>
<%end %>